
html {
  -webkit-font-smoothing: antialiased;
  touch-action: manipulation;
}

body {
  background-color: #4C4C4C;
  color: #FFF;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12pt;
  line-height: 1.2;
  margin: 0 auto;
  padding: 0em 2em 2em 2em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-user-drag: none;
  -webkit-user-modify: none;
  user-select: none;
}

.nopad {
  padding: 0!important;
}

.pad-5 {
  padding-left: 5%;
  padding-right: 5%;
}

h1, h2, h3, h4, h5, h6 {
  color: #FFF
  font-weight: 600;
  line-height: 1.3;
}

h1 {
  font-size: 16pt;
}

h2 {
  font-size: 21pt;
}

a {
  color: #FFF
}

b, strong {
  font-weight: 600;
}

img {
  background: transparent;
}

footer {
  display: block;
  font-weight: 600;
  text-align: center
}

img.resizable {
    padding-bottom: 20px;
    padding-top: 40px
    
}

.container {
  float: left;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  font-family: AGNextRegular;
  font-size: 17px;
  color: #FFFFFF;
  line-height: 1.3;
}

.container h1{
  font-family: AGNextMedium;
  font-size: 26px;
  width: 100%;
  float: left;
}

.container h2{
  font-family: AGNextMedium;
  font-size: 17px;
  width: 100%;
  float: left;
  margin-top: 25px;
}

.container ol {
  display: inline-block;
  list-style-type: none;
  line-height: 1.3
}

.container li {
  counter-increment: step-counter;
}

.container ol li::before {
  content: counter(step-counter) ".";
  margin-right: 7px;
  margin-left: 4px;
}

.container ol li {
  text-indent:-24px;
  margin-left:24px
}

.container p {
  
}

.screenshot {
  text-align: center;
  margin-top: 13px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container #quick-guide-speaker-panel {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 13px;
}
.container #source-knob {
  text-align: center;
  margin-top: 13px;
}
.container #volume-knob {
  text-align: center;
  color: #FFFFFF;
}

.container img {
  vertical-align: text-top;
}

.container .container-content-medium {
  font-family: AGNextMedium;
}

.container .resizable {
  max-width: 90%;
}

.container .resizable-70 {
  max-width: 70%;
}
.container .resizable-30 {
  width: 30%;
}
.container-menu {
  float: left;
  width: 100%;
}
.container-menu li {
  display: inline-block;
  width: 100%;

  margin: 0;
  float: left;
  transition: background 0.25s;
}
.container-menu li:first-child {

}
.container-menu li a {
  font-family: AGNextRegular;
  font-size: 17px;

  float: left;
  line-height: 50px;

  text-decoration: none;
  display: block;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  background:url('images/border.png');
  background-position: top;
  background-repeat: repeat-x;
}

.container-menu li:last-child a {
  background:url('images/border.png'), url('images/border.png');
  background-position: 0 0, 0 bottom;
  background-repeat: repeat-x, repeat-x;
}

.container-menu li a .decorator {
  float: right;
  margin-top: 15px;
  transition: 0.2;
}

.container-menu li:active {
  background-color: rgba(255, 255, 255, 0.3);
}

.footer .container-content {
  font-family: AGNextBold;
  font-size: 17px;

  color: #FFF;
  text-align: center;
}




































/* Fonts */

@font-face {
  font-family: AGNextRegular;
  src: url('fonts/AGNextRegular.otf');
}

@font-face {
  font-family: AGNextBold;
  src: url('fonts/AGNextBold.otf');
}

@font-face {
  font-family: AGNextMedium;
  src: url('fonts/AGNextMedium.otf');
}

/* CSS Reset Code */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
